#loading {
    color: chocolate;
    width: 150px;
    height: 150px;
    margin-left: 800px;
    margin-top: 300px;
}

/* product home page */
h1
{
    color:sienna;
    font-family: sans-serif;
    text-align: center;
}
.image-size {
    width: 200px;
    height: 220px;
    
}
#box {
    margin-top: 100px;
}


li {
    list-style: none;
}

.container {
    text-decoration: none;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   width: 350px !important ;
   padding: 40px;
   margin-left: 40px;
   
}

.col-sm {
    width: 20%;
}

.container a{
    text-decoration: none;
}

.container:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
}
.text {
    color:peru;
    font-style: normal;
    text-align: center;
}

.font {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color:olivedrab;
    text-align: center;

}
 /* product detail */
.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto auto auto;
    height: 100%;
    margin-left: 340px;
    margin-right: 340px;
    margin-top: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.imgBox {
    grid-column: 1;
    grid-row: 1 / 5 ;
    width: 500px;
    height: 600px;
    margin-left: 50px;
    padding: 20px;
}

.heading {
    grid-column: 2 ;
    grid-row: 1;
text-align: center;

    
}

.detail {
    grid-column: 2;
    grid-row: 2 ;
    text-align: left;
    font-size: 30px;
}

.price {
    grid-column: 2;
    grid-row: 3 ;
    font-size: 30px;
    color: seagreen;
}

.align {
    width: 500px;
}

.updateProduct-btn {
    grid-column: 2;
    grid-row: 4;
    border: 0;
    outline: none;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #df7769;
    color: white;
    text-align: center;
    font-size: 18px;
}

.updateProduct-btn:hover {
    color: wheat;
}

#header {
    color: salmon;
    text-align: center;
    display: none;
    padding: 50px;
}


#categories {
    margin-right: 200px;
    margin-left: 200px;
    
}

/* Add new Product */
.productBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.productContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
     box-shadow:20px 20px 400px 10px gray inset;
     padding: 20px;
}

.addDetails {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 10px 20px 60px 10px gray;
}

.addDetails input {
    border-radius: 10px;
    width: 400px;
    height: 50px;
    display: block;
    border: 0;
    outline: none;
    box-sizing: border-box;
    padding: 12px 20px;
    margin-bottom: 10px;
    background-color: lightgray;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}

.product-btn {
   
    height: 50px;
    border-radius: 10px;
    background-color: #ab5e54;
    text-align: center;
    font-size: 15px;
    width: 400px;
    cursor: pointer;
    border: 0;
}

.newProduct-btn {
    width: 200px;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 10px;
    background-color: #ab5e54;
    text-align: center;
    font-size: 15px;
    margin-left: 1500px;
    
}
#description {
    width: 400px;
    height: 160px;
    background-color: lightgray;
    outline: none;
    border: 0;
    text-align: center;
    border-radius: 8px;
    font-size: 15px;
    font-family: sans-serif;
}


/* POP UP */
.success {
    position: absolute;
    top: 0;
    right: 10px;
    background-color: lightseagreen;
    padding: 30px;
    margin-left: 650px;
    margin-right: 650px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    display: none;
}


.message {
    font-size: 20px;
    margin-left: 20px;
    
}
#button-click {
    width: 40px;
    height: 30px;
    font-size: 15px;
    background-color: lightskyblue;
    border: 0;
    border-radius: 4px;
    margin-left: 250px;
    margin-right: 250px;
    
}

#category {
    width: 400px;
    height: 50px;
    border-radius: 8px;
    background-color: lightgray;
    display: block;
    border: 0;
    outline: none;
    box-sizing: border-box;
    padding: 12px 20px;
    margin-bottom: 10px;
    background-color: lightgray;
    text-align: center;
    font-size: 15px;
}

 a {
     text-decoration: none !important;
 }


/* delete product */

#delete {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    width: 500px;
    margin-left: 500px;
    display: none;
    position: fixed;
    background-color:white;
}

.deleteSuccess {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    width: 500px;
    margin-left: 700px;
    display: none;
    position: fixed;
    background-color: white;
  }
  .deleteSuccess button {
    border-radius: 8px;
    border: 0;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    height: 30px;
    width: 80px;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: goldenrod;
  }
  .deleteSuccess p {
    margin-top: 10px;
    font-size: 20px;
  }

 

  #dont-delete{
      width: 70px;
      height: 40px;
      color: lightcoral;
      border: 0;
      margin-left: 20px;
      border-radius: 6px;
  }

  #delete-btn {
      border: 0;
      width: 70px;
      border-radius: 6px;
      height: 40px;
      background-color: lightcoral;
      color: lightgray;
      margin-right: 20px;
  }

  /* navigation bar */
.navBar {
    background-color: mediumseagreen;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    top: 0;
    right: 0;
    left: 0;
}

.selection {
    outline: none;
    text-align: center;
    border: 0;
    width: 300px;
    height: 42px;
    margin-right: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
  .logo img {
      width: 45px;
      height:45px;
      margin-left: 30px;
  }

  .product-link {
      text-decoration: none;
      color:wheat;
      font-size: 20px;
      margin: 65px;
  }
  .product-link:hover {
      color: burlywood;
  }

  .icon{
      margin-right: 110px;
  }
  .icon img {
      width: 45px;
      height: 45px;
      margin: 45px;
  }

  .icon img:hover {
      width: 48px;
      height: 48px;
      cursor: pointer;
  }
.hamburger {
    display: none;
}

@media screen  and (max-width:1700px){
   

    .product-link {
        margin: 45px;
    }
    
    .icon {
        margin-right: 30px;
        display: flex;
        flex-direction:row;
    }
    
    .icon img {
        margin: 35px;
    }
    #box {
        width: 1700px;
    }
    .container {
    width: 320px !important;
    padding: 10px;
    }
    
    /* product detail */
    
     .grid-container{
         margin-left: 300px;
         margin-right: 300px;
     }
    
    .imgBox {
        width: 500px;
        height:500px;
        margin-left:30px;
        padding: 20px;
    }
    
    .heading {
        text-align: center;
        font-size: 30px;
    }
    
    .detail {
        text-align:center;
        font-size: 20px;
    }
    
    .price {
       text-align: center;
    }
    
    .align {
        width:500px;
    }
    
     
    #categories {
        margin-right: 80px;
        margin-left: 80px;
    } 
    
    .deleteSuccess {
        width: 700px;
        margin-left:40px;
        margin-right: 40px;
        border-radius:8px ;
    }
     /* new product */
        
     .message {
         margin-left: 600px;
         text-align: center;
     }
     #button-click {
        margin-left: 800px;
        margin-right: 600px;
     }
    
     .success {
        margin-left:60px;
        margin-right:60px;
        right: 0;
        left:0;
    }
    
}

@media screen  and (max-width:1200px){
#loading {
    margin-left: 500px;
    margin-top: 250px; 
}
    /* product homepage */
    

.product-link {
    font-size: 20px;
    margin: 25px;
}
.selection
{
    margin-right: 30px;
    margin-left: 20px;
    width: 240px;
}

.icon {
    margin-right: 22px;
    display: flex;
    flex-direction:row;
}

.icon img {
    margin: 20px;
}
#box {
    width: 1190px;
}
.container {
width: 280px !important;
padding: 10px;
}
    

/* product detail */

.grid-container {
    margin-left: 100px;
    margin-right:100px;
}

.imgBox {
    width: 400px;
    height: 400px;
    margin-left:20px;
    padding: 20px;
}

.heading {
    text-align: center;
    font-size: 38px;
}

.detail {
    text-align:center;
}

.price {
   text-align: center;
}

.align {
    width:500px;
}


 
#categories {
    margin-right: 100px;
    margin-left: 100px;
} 



.deleteSuccess {
    width: 700px;
    margin-left:40px;
    margin-right: 40px;
    border-radius:8px ;
}
 /* new product */
    
 .message {
     width: 600px;
     margin-left: 300px;
     text-align: center;
 }
 #button-click {
    margin-left: 500px;
    margin-right: 200px;
 }

 .success {
    margin-left:60px;
    margin-right:60px;
    right: 0;
    left:0;
}

}
@media screen  and (max-width:1023px){

    #loading {
        margin-left: 400px;
        margin-top: 200px;
    }
     /* product homepage */
    
     .logo img {
        margin-left: 20px;
    }
    .product-link {
        font-size: 20px;
        margin: 8px;
    }
    .selection
    {
        margin-right: 20px;
        margin-left: 20px;
        width: 220px;
    }
  
    .icon {
        margin-right: 22px;
        display: flex;
        flex-direction:row;
    }

    .icon img {
        margin: 15px;
        width: 40px;
        height: 40px;
    }

.container {
    width: 300px !important;
}

/* product detail */
.grid-container{
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 10px;
    padding: 0;
    margin-left: 65px;
    margin-right: 65px; 
}

.imgBox {
    grid-column: 1;
    grid-row: 1;
    margin-left:250px;
}

.heading {
    grid-column: 1;
    grid-row: 2;
    text-align:center;
    font-size: 40px;
}

.detail {
    grid-column: 1;
    grid-row: 3 ;
    text-align:center;
    font-size: 25px;
}

.price {
    grid-column: 1;
    grid-row: 4;
    font-size: 28px;
    text-align: center;
}


.align{
    
    width: 850px;
}

#categories {
    margin-left: 10px;
    margin-right: 10px;
    
}

.updateProduct-btn{
    margin-left: 100px;
    width: 150px;
    height: 40px;
    font-size: 15px;
}

.updateProduct-btn:hover {
    width: 155px;
    height: 45px;
}


    /*       pop up      */
    .popUp-msg {
        width:1020px;
    }
   
    #delete {
        width: 800px;
        margin-left:40px;
        margin-right: 40px;
    }

    .deleteSuccess {
        width: 700px;
        margin-left:30px;
        margin-right: 40px;
        border-radius:8px ;
    }

      /* new product */
    
      .productBox{
        margin-top: 80px;
         justify-content: center;
     }
     .message {
         margin-left: 250px;
         text-align: center;
     }
     #button-click {
        
        margin-left: 400px;
        margin-right: 200px;
     }

     .success {
        
        margin-left:60px;
        margin-right:60px;
        right: 0;
        left:0;
        border-radius:8px;
        
    }
}

/* Tablet view */

@media screen  and (max-width:767px){
#loading {
    margin-left: 300px;
    margin-right: 200px;
}
    /* product homepage */
    
      .logo img {
          margin-left: 20px;
      }
      .product-link {
          font-size: 16px;
          margin: 8px;
      }
      .selection
      {
          margin-right: 15px;
          margin-left: 20px;
          width: 120px;
      }
    
      .icon {
          margin-right: 12px;
          display: flex;
          flex-direction:row;
      }

      .icon img {
          margin: 5px;
          width: 40px;
          height: 40px;
      }
    
    /* product detail */
    .grid-container{
       
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-gap: 10px;
        padding: 0;
        margin-left: 15px;
        margin-right: 15px; 
    }

    .imgBox {
        grid-column: 1;
        grid-row: 1;
        width: 400px;
        height: 400px;
        margin-left:100px;
    }

    .heading {
        grid-column: 1;
        grid-row: 2;
        text-align:center;
        font-size: 30px;
    }

    .detail {
        grid-column: 1;
        grid-row: 3 ;
        text-align:center;
        font-size: 25px;
    }
    
    .price {
        grid-column: 1;
        grid-row: 4;
        font-size: 28px;
        text-align: center;
        color: seagreen;
    }
    
    .align{
        
        width: 700px;
    }

    #categories {
        margin-left: 10px;
        margin-right: 10px;
        
    }

    .updateProduct-btn{
        margin-left: 65px;
        width: 150px;
        height: 40px;
        font-size: 15px;
    }

    /*       pop up      */
    .popUp-msg {
        width: 767px;
    }
   
    #delete {
        width: 480px;
        margin-left:40px;
    }

    .deleteSuccess {
        width: 480px;
        margin-left:40px;
        margin-right: 0;
        border-radius:8px ;
    }


     /* new product */
    
     .productBox{
        margin-top: 80px;
         justify-content: center;
     }
     .message {
         margin-left: 90px;
         text-align: center;
     }
     #button-click {
        
        margin-left: 300px;
        margin-right: 200px;
     }

     .success {
        
        margin-left:60px;
        margin-right:60px;
        right: 0;
        left:0;
        border-radius:8px;
        
    }
}


/* 

mobile view 

*/
@media screen  and (max-width:480px){

    #loading {
        margin-left: 240px;
        margin-top: 200px;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        width: 40px;
       
    }
    #product-nav {
       display: none;
    }

    .container{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .selection
    {
        margin-right: 10px;
        margin-left: 20px;
        width: 150px;
    }

    .icon
    {
        margin-right: 20px;
        
    }

    .icon img{
        margin: 4px;
    }
    .logo img{
        margin-left: 2px;
    }

    .nav {
        background-color: black;
        /* color: black; */
        display:block;
        flex-direction: column;
        position: absolute;
        margin-top: 300px;
        width: 100%;
        margin-bottom: 170px;
       
    }

    .product-list{
        padding: 10px;
        margin-bottom: 10px;
    }


        /* 
        
        product detail 
        
        */
      .detail-body{
          width: 480px;
      }
        .grid-container{
            width:480px ;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto auto;
            grid-gap: 10px;
            padding: 0;
            margin-left: 15px;
            margin-right:15px;
            
        }

        .imgBox {
          grid-column: 1;
          grid-row: 1;
          width: 400px;
          height: 400px;
          margin-left: 70px;
        }

        .heading {
            grid-column: 1;
            grid-row: 2;
            text-align:center;
            font-size: 30px;
        }

        .detail {
            grid-column: 1;
            grid-row: 3 ;
            text-align:center;
            font-size: 25px;
        }
        
        .price {
            grid-column: 1;
            grid-row: 4;
            font-size: 28px;
            text-align: center;
            color: seagreen;
        }
        
       
        .align{
           
            width: 450px;
        }
        
        .similar-productList {
            width: 480px;
        }
        #categories {
           margin-left: 10px;
           margin-right: 10px;
        }
        #header {
            text-align: center;
            margin-left: 100px;
            margin-right: 100px;
            font-size: 30px;
            padding: 10px;
        }
        .updateProduct-btn{
            margin-left: 15px;
            width: 120px;
            height: 40px;
            font-size: 15px;
        }
    

        /* pop up */
        .popUp-msg {
            width: 480px;
        }
       
        #delete {
            width: 480px;
            margin-left: 0;
        }

        .deleteSuccess {
            width: 480px;
            margin-left:0;
            margin-right: 0;
            border-radius:0 ;
        }
       /* new product */
    
    .productBox{
       margin-top: 80px;
        justify-content: center;
    }
    .message {
        margin-left: 10px;
        text-align: center;
    }
    #button-click {
       margin-left: 200px;
       margin-right: 200px;
    }

    .success {
       
        margin-left: 0px;
        margin-right: 0;
        right: 0;
        left:0;
        border-radius:0;
        
    }
    }

    