
h1
{
    color:sienna;
    font-family: sans-serif;
    text-align: center;
}
table , th , td
{
    border: 1px solid white;
    border-collapse: collapse;
}

table
{
   margin-right:100px;
   margin-left: 100px;
   height:600px;
   text-align: center;
}

th
{
    background-color: brown;
}
 td {
    background-color: burlywood;
    
}




.image-size {
    width: 90px;
    height: 120px;
}